<h1>Listing ports</h1>

<table>
  <tr>
    <th>Port name</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Ocean</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ports.each do |port| %>
  <tr>
    <td><%= port.port_name %></td>
    <td><%= port.city %></td>
    <td><%= port.state %></td>
    <td><%= port.country %></td>
    <td><%= port.ocean %></td>
    <td><%= link_to 'Show', port %></td>
    <td><%= link_to 'Edit', edit_port_path(port) %></td>
    <td><%= link_to 'Destroy', port, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Port', new_port_path %>
