<%= form_for (@trip, :url => "/search_ship") do |f| %>
  <div class="field">
    <%= f.label (:origin_port_id, "Origin Port: ") %>
    <%= collection_select (:trip, :origin_port_id, Port.all, :id, :port_name, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label (:origin_country, "Origin Country: ") %>
      <%= collection_select (:origin_port, :country, Country.all, :country_name, :country_name, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label (:destination_port_id, "Destination Port: ") %>
    <%= collection_select (:trip, :destination_port_id, Port.all, :id, :port_name, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label (:destination_country, "Destination Country: ") %>
    <%= collection_select (:destination_port, :country, Country.all, :country_name, :country_name, :prompt => true) %>
  </div>
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>
  <% if @trips != nil %>
    <table>
    <% @trips.each do |trip| %>
      <tr>
        <td>
          <b>Ship Name</b>
        </td>
        <td>
          <b>Port of Origin</b>
        </td>
        <td>
          <b>Destination Port</b>
        </td>
        <td>
          <b>Departure Date</b>
        </td>
        <td>
          <b>Voyage Information</b>
        </td>
      </tr>

      <tr>
        <td>
          <%= trip.ship.name %>
        </td>
        <td>
          <%= trip.origin_port.port_name %>
        </td>
        <td>
          <%= trip.destination_port.port_name %>
        </td>
        <td>
          <%= trip.departure_date %>
        </td>
        <td>
          <%= trip.description %>
        </td>
      </tr>
    <% end %>
    </table>
  <% end %>